:root {
    --grey: #e8e8e8;
    --light-grey: #F0F0F4;
    --white: #ffffff;
    --dark-grey: #5b5b5b;
    --blue: #2466e8;
    --footer-grey: #afafaf;
    --upper-footer-grey: #f2f2f2;
}
html, body {
    font-family: "Exo 2";
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    font-family: "Exo 2";
    letter-spacing: .5px;
    background-color: var(--grey);
    text-align: center;
    width: 100%;
    height: 126px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    min-height: 126px;
}
.logoBig {
    display: block;
    margin-bottom: 16px;
}
.navLink{
    font-size: 15px;
    font-weight: 650;
    padding: 0 10px 0;
    color: var(--dark-grey);
}
.navLink:link, .navLink:visited, .navLinkLabel:link, .navLinkLabel:visited {
    text-decoration: none;
}
main {
    padding-top: 2%;
    width: 70%;
    margin: 0 auto; 
    flex: 1;
}
.bold1 {
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}
.bold2 {
    color: #000000;
    font-weight: 550;
    font-size: 16px;
}
.bold3 {
    color: #000000;
    font-weight: 525;
}
.aboutUsContent {
    margin: 10px 0px 15px;
}
.aboutUsHeader {
    background-color: var(--light-grey);
}
.logoSmall {
    height: 2%;
    width: 2%;
}
footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    
    width: 100%;
}
.footerContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--upper-footer-grey);
}
.contactInfo {
    font-size: 13px;
    margin: 10px;
}
footer p {
    display: flex;
    background-color: var(--footer-grey);
    width: 100%;
    margin: 0;
    height: 63px;
    font-size: 13px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.col {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.greyStripe {
    background-color: var(--light-grey);
    margin: 10px 0 25px;
}
.PDFImg {
    display:inline-flex;
}
.subNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    padding: 5px;
    text-align: center;
}
.navLinkLabel{
    font-size: 15px;
    font-weight: 650;
    padding: 0 10px 0;
    color: var(--white);
}
.navSmaller {
    font-size: 13px !important;
    padding: 0 8px 0 !important;
}
.navLinkLabel[aria-current="page"] {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px
  }
hr {
    height: 3px;
    background-color: var(--dark-grey);
    width: 100%;
    border: none;
    margin: 10px 0;
    display: block;
}
.marginTop {
    margin-top: 10px;
}
.imgPadding1 > * > img, .imgPadding2 > * > img {
    border: 3px ridge var(--dark-grey);
}
.imgPadding1 > * {
    padding-right: 4px;
}
.imgPadding2 > * {
    padding-right: 6px;
}
.imgPadding1, .imgPadding2 {
    margin-bottom: 1px;
}
.hr2 {
    margin-bottom: 40px;
}
hr.karty {
    margin-top: 25px;
}
@media only screen and (max-width: 1000px) {
    .subNavbar {
        flex-wrap: wrap;
    }
    .subNavbar > a {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .row, .col, .row > *, .col > * {
        flex-direction: column;
        text-align: justify;
        align-items: center;
        text-align-last: left;
    }
    li {
        list-style-type: none;
        margin-top: 15px;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .aboutUsContent {
        text-align: justify;
        text-align-last: left;
    }
    .grawer > a > img {
        width: 100%;
        height: 100%;
    }
    .contact *{
        text-align: left !important;
        align-items: initial;
    }
    .mobileBottom {
        order: 2;
    }
    .mobileTop {
        order: 1;
    }
}
